### Imbalanced Dataset Handling

* up-sampling
* down-sampling

In [32]:
import numpy as np
import pandas as pd

In [33]:
np.random.seed(123)
n_sample = 1000

class_0_ratio=0.9
n_class_0 = int(n_sample * class_0_ratio)
n_class_1 = n_sample - n_class_0

In [35]:
n_class_0,n_class_1

(900, 100)

In [36]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [37]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [39]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [40]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

### Up-sampling

In [45]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [46]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [47]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [48]:
# Upsample perform

from sklearn.utils import resample

In [56]:
df_minority_upsmapled=resample(df_minority,
                               replace=True, # sample with replacement
                               n_samples=len(df_majority), # to match the majority class
                               random_state=42)

In [57]:
df_minority_upsmapled.shape

(900, 3)

In [58]:
df_unsmapled=pd.concat([df_majority,df_minority_upsmapled])

In [59]:
df_unsmapled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

### Down-sampling

In [60]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [61]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [62]:
df.tail()

     feature_1  feature_2  target
995   1.409999   4.068926       1
996   2.931866   2.771442       1
997   3.400507   2.463464       1
998   0.547064   1.974369       1
999   1.515221   2.444718       1

In [63]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [66]:
df_majority_unsampled=resample(df_majority,
                               replace=False, # sample with replacement
                               n_samples=len(df_minority), # to match with minority class
                                 random_state=42)

In [67]:
df_majority_unsampled.shape

(100, 3)

In [68]:
df_unsmapled=pd.concat([df_majority_unsampled,df_minority])

In [69]:
df_unsmapled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64